.pop_regpr_1_0_0 {
    .modal {
        &-box {
            max-width: 400px;
        }
        &-body{
            border-radius: 10px;
        }
        &-close{
            padding: 10px 10px 0 0;
        }
    }
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    &__logo {
        padding-top: 10px;
    }
    &__des {
        &1 {
            width: 90%;
            padding: 20px 0 10px;
            color: #666;
            font-weight: 600;
            font-style: italic;
            margin: 0 auto;
        }
        &2 {
            width: 70%;
            padding: 20px 0 10px;
            color: #666;
            font-weight: 600;
            font-style: italic;
            margin: 0 auto;
        }
    }
    &__call {
        width: 90%;
        background: #ea3b41;
        color: #fff;
        text-transform: uppercase;
        display: block;
        padding: 8px 0;
        border-radius: 4px;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        margin: 0 auto;
    }
    &__contact {
        width: 90%;
        margin-bottom: 4px;
        font-size: 14px;
        padding: 12px 0;
        text-align: center;
        color: #333;
        border-radius: 5px;
    }
    &__submit {
        width: 90%;
        background: #3491cc;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 14px;
        margin-top: 5px;
        border-radius: 4px;
        padding: 12px 0;
    }
}

.model {
    &-body {
        text-align: center;
        padding: 10px 30px 40px;
    }
}
