.doctor_10_0_0 {
    padding: 20px 0;
    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }
    &__item {
        width: 31%;
        position: relative;
        img {
            display: block;
            width: 100%;
        }
        span {
            position: absolute;
            width: 100%;
            display: block;
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.5);
            font-size: 18px;
            font-weight: 600;
            color: #fff;
            text-align: center;
            bottom: 0;
        }
    }
    @media(max-width:912px) {
        &__item {
            span {
                font-size: 16px;
                padding: 20px 0;
            }
        }
    }
    @media(max-width:540px) {
        &__box {
            gap: 10px;
        }
        &__item {
            width: 47%;
            span {
                font-size: 14px;
                padding: 10px 0;
            }
        }
    }
    @media(max-width:540px) {
        &__item {
            span {
                font-size: 12px;
            }
        }
    }
}