.banner_1_0_0 {
    background: url(../images/banner_1_0_0-bg.jpg) center center no-repeat;
    max-width: 800px;
    min-height: 300px;
    margin: 0 auto;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    &__box {
        width: 35%;
        margin-left: auto;
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 5px;
        textarea {
            padding: 5px 10px;
            resize: none;
            outline: none;
            font-size: 14px;
            border: none;
            border-radius: 12px;
        }
        input {
            padding: 5px 10px;
            font-size: 14px;
            border: none;
            border-radius: 12px;
        }
    }
    &__btn {
        margin-top: 10px;
        text-align: center;
        button {
            color: #fff;
            background: linear-gradient(to top, #97201e, #ee624c);
            border: none;
            border-radius: 12px;
            padding: 10px 20px;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 14px;
            cursor: pointer;
        }
    }
    @media(max-width: 767px) {
        background: url(../images/banner_1_0_0-bg-m.jpg) center 0 no-repeat;
        background-size: 428px;
        min-height: 700px;
        max-width: 428px;
        align-items: flex-end;
        &__box {
            width: 90%;
            margin: 0 auto;
        }
    }
    @media(max-width: 320px) {
        background-size: 320px;
        min-height: 528px;
        &__btn {
            button {
                padding: 5px 10px;
                font-size: 12px;
            }
        }
    }
}