a {
  text-decoration: none;
}

.header_17_0_0_box1 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header_17_0_0_box1-logo {
  display: none;
}

@media (max-width: 414px) {
  .header_17_0_0_box1-logo img {
    max-width: 100%;
    width: 220px;
  }
}
@media (max-width: 414px) {
  .header_17_0_0_box1-logo img {
    width: 200px;
  }
}
@media (max-width: 360px) {
  .header_17_0_0_box1-logo img {
    width: 170px;
  }
}
.header_17_0_0_box1-Control {
  display: none;
  width: 85px;
}

@media (max-width: 414px) {
  .header_17_0_0_box1-Control {
    display: flex;
  }
}
.header_17_0_0_box1-Nav {
  width: 85px;
}

@media (max-width: 414px) {
  .header_17_0_0_box1-Nav {
    width: 44px;
  }
}
@media (max-width: 375px) {
  .header_17_0_0_box1-Control {
    width: 44px;
  }
}
/* .header_17_0_0_box1-sp, */
.header_17_0_0_box1-dv {
  width: 30%;
}

@media (max-width: 1366px) {
  .header_17_0_0_box1-dv {
    width: 35%;
  }
}
@media (max-width: 1280px) {
  .header_17_0_0_box1-dv {
    width: 29%;
  }
}
@media (max-width: 1024px) {
  .header_17_0_0_box1-dv {
    width: 34%;
  }
}
@media (max-width: 768px) {
  .header_17_0_0_box1-dv {
    width: 45%;
  }
}
@media (max-width: 414px) {
  .header_17_0_0_box1-sp, .header_17_0_0_box1-dv {
    display: none;
  }
}
.header_17_0_0_box1-ht {
  width: 60%;
  text-align: center;
  color: #fff;
}

@media (max-width: 414px) {
  .header_17_0_0_box1-ht {
    display: none;
  }
}
.header_17_0_0_box1-dv {
  display: flex;
}

.header_17_0_0_box1-Nav {
  display: none;
}

@media (max-width: 414px) {
  .header_17_0_0_box1-Nav {
    display: block;
  }

  .header_17_0_0_box1-search {
    width: 85px;
  }

  .header_17_0_0_box1-dv {
    width: 100%;
  }
}
.header_17_0_0_box1-call {
  background: #1f8ac9;
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 115px;
  padding-top: 5px;
}
.header_17_0_0_box1-call p {
  position: absolute;
  color: #fff;
  padding: 0;
  left: 40px;
  top: 9px;
}
.header_17_0_0_box1-call img {
  vertical-align: bottom;
  width: 100%;
}

@media (max-width: 414px) {
  .header_17_0_0_box1-call {
    width: 85px;
  }
}
@media (max-width: 320px) {
  .header_17_0_0_box1-call {
    width: 35px;
  }
}
.header_17_0_0_box1-search {
  background: #1f8ac9;
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 115px;
  padding: 5px;
}

.header_17_0_0_box1-searchMB {
  /* background: #067970; */
  color: #fff;
  display: inline-block;
  border-radius: 100%;
  font-size: 13px;
  padding: 8px 10px;
  display: none;
}

.header_17_0_0_box1-mapMB {
  display: none;
}
.header_17_0_0_box1-mapMB #Layer_1 {
  fill: #fff;
  width: 14px;
  height: 14px;
}
.header_17_0_0_box1-mapMB a {
  background: #067970;
  color: #fff;
  display: block;
  padding: 5px 8px;
  font-size: 16px;
  border-radius: 5px;
}

.header_17_0_0_box1-Nav {
  color: #0b80c4;
  font-size: 35px;
}

@media (max-width: 414px) {
  .header_17_0_0_box1-Nav {
    font-size: 30px;
  }
}
.header_17_0_0_boxTop {
  height: 50px;
  background: #0b80c4;
}

.header_17_0_0_box2 {
  display: flex;
  align-items: center;
  padding: 20px 0;
  justify-content: space-around;
}
.header_17_0_0_box2.show {
  display: block;
}

@media (max-width: 414px) {
  .header_17_0_0_box2 {
    display: none;
    width: 100%;
    background: #fff;
    position: fixed;
    left: 0;
    top: 140px;
    z-index: 3;
    overflow: auto;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
.header_17_0_0_box2-logo img {
  max-width: 100%;
}

@media (max-width: 414px) {
  .header_17_0_0_box2-logo img {
    max-width: 100%;
    padding: 0 30px;
  }
}
@media (max-width: 414px) {
  .header_17_0_0_box2-logo img {
    padding: 0 20px;
    display: none;
  }
}
.header_17_0_0_box2__menu {
  width: 75%;
  display: inherit;
}
.header_17_0_0_box2__menu a {
  font-size: 14px;
  padding: 35px 18px 30px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

@media (max-width: 768px) {
  .header_17_0_0_box2__menu {
    width: 90%;
    justify-content: space-between;
  }
}
@media (max-width: 414px) {
  .header_17_0_0_box2__menu {
    width: 100%;
  }
}
@media (max-width: 1440px) {
  .header_17_0_0_box2__menu a {
    padding: 15px 10px 15px;
  }
}
@media (max-width: 768px) {
  .header_17_0_0_box2__menu a {
    padding: 15px 3px 15px;
    font-size: 13px;
  }
}
@media (max-width: 414px) {
  .header_17_0_0_box2__menu a {
    padding: 0 15px;
  }
}
@media (max-width: 414px) {
  .header_17_0_0_box2__menu-hover {
    padding: 10px 0 10px;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}
.header_17_0_0_box2__menu-hover a {
  position: relative;
}
.header_17_0_0_box2__menu-hover:hover .arr::before, .header_17_0_0_box2__menu-hover:hover .header_17_0_0_box2__menu-content {
  display: block;
}

@media (max-width: 414px) {
  .header_17_0_0_box2__menu-hover .arr::before {
    display: none !important;
  }
}
.header_17_0_0_box2__menu a :hover, .header_17_0_0_box2__menu-hover:hover > a {
  color: #007ac1;
}

.header_17_0_0_box2__menu-content {
  display: none;
  position: absolute;
  width: 220px;
  top: 80px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 10px 20px;
  color: #000;
  border-radius: 3px;
}
.header_17_0_0_box2__menu-content ul {
  list-style: none;
  padding: 0;
}
.header_17_0_0_box2__menu-content ul li {
  /* border-bottom: 1px dotted #ccc; */
  margin: 0;
  padding: 4px 0;
  font-size: 13px;
  position: relative;
}
.header_17_0_0_box2__menu-content ul li:last-child {
  border-bottom: none;
}
.header_17_0_0_box2__menu-content a {
  color: #000;
  transition: 0.1s;
  padding: 0;
  text-transform: none;
  font-weight: 400;
}
.header_17_0_0_box2__menu-content a:hover {
  color: #007ac1;
}
.header_17_0_0_box2__menu-content h4 {
  color: #000;
  font-size: 15px;
  padding: 5px 0;
  text-transform: uppercase;
  border-bottom: 1px dotted #007ac1;
  position: relative;
  margin-bottom: 10px;
  margin-top: -32px;
}
.header_17_0_0_box2__menu-content p {
  margin-top: 10px;
}
.header_17_0_0_box2__menu-content .row {
  padding: 15px 25px;
}

@media (max-width: 414px) {
  .header_17_0_0_box2__menu-content {
    position: initial;
    width: 100%;
    border-radius: 0;
    top: auto;
    right: auto;
    margin-top: 10px;
    padding-top: 0;
  }
}
@media (max-width: 414px) {
  .header_17_0_0_box2__menu-content ul {
    padding: 0px;
    margin: -2px;
  }
}
@media (max-width: 414px) {
  .header_17_0_0_box2__menu-content ul li {
    border-bottom: none;
    background-color: #0b80c4;
    padding: 8px 0px;
    margin: 4px 0;
  }
}
@media (max-width: 414px) {
  .header_17_0_0_box2__menu-content a {
    padding: 0 15px;
  }
}
@media (max-width: 414px) {
  .header_17_0_0_box2__menu-content h4 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 12px;
    border-bottom: transparent;
    color: #e5c992;
  }
}
@media (max-width: 414px) {
  .header_17_0_0_box2__menu .menu-icon {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    color: #666;
    padding: 10px;
    text-align: right;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 414px) {
  .header_17_0_0_box2__menu .icon-plus::before {
    content: '+';
    position: absolute;
    right: 10px;
  }
  .header_17_0_0_box2__menu .icon-plus.active::before {
    content: '-';
  }
}
.header_17_0_0_box2 ul {
  padding-left: 0;
}
.header_17_0_0_box2 ul li {
  list-style: none;
}

@media (max-width: 414px) {
  .header_17_0_0_box2__address {
    display: none;
  }
}
.header_17_0_0_box2__address select {
  padding: 5px 0;
  margin-bottom: 0;
}

@media (max-width: 414px) {
  .header_17_0_0_box2 .row > div {
    padding-left: 0;
    padding-right: 0;
  }
}
.header_17_0_0_box2-tv {
  display: none;
}
.header_17_0_0_box2-tv a {
  background: #067670;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 500;
}

@media (max-width: 414px) {
  .header_17_0_0_box2-tv {
    display: block;
    text-align: center;
    margin-top: 30px;
  }

  .langu {
    right: 10px;
  }
}
.header_17_0_0_box3 {
  /* background: rgba(0, 0, 0, 0.6); */
  width: 100%;
  height: 100%;
  content: '';
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  animation: opac 0.4s;
}
.header_17_0_0_box3.act {
  display: block;
}

.langu {
  position: absolute;
  top: 4px;
  right: 0;
  height: 40px;
  color: #fff;
  background: #2d9dde;
  padding: 4px 65px 0px 10px;
  border-radius: 4px;
}

@media (max-width: 414px) {
  .langu {
    position: absolute;
    top: 4px;
    right: 10px;
    height: 40px;
    color: #fff;
    background: #2d9dde;
    padding: 4px 65px 0px 10px;
    border-radius: 4px;
  }
}
.search {
  background: #1f8ac9;
  padding: 2px 4px 2px 8px;
  border: 2px;
  height: 30px;
  border-radius: 4px;
}

@media (max-width: 414px) {
  .search {
    width: 110px;
  }
}
.header_17_0_0_box11 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
.header_17_0_0_box11 img {
  display: none;
}

@media (max-width: 414px) {
  .header_17_0_0_box11 img {
    display: block;
  }
}

/*# sourceMappingURL=header_17_0_0.css.map */
