.contact_1_0_0 {
  .container {
    margin: 10px auto;
  }
  img {
   width: 100%;
  }
  .row {
    margin-top: 30px;
    text-align: center;
  }
  p{
    text-align: center;
    margin-top: 70px;
    color: #a1a1a1;
  }
}
