body {
  padding-top: 0; }

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  background-color: white; }
  header .container {
    width: 75%; }
  @media (max-width: 1570px) {
    header .container {
      width: 80%; } }
  @media (max-width: 1440px) {
    header .container {
      width: 84%; } }
  @media (max-width: 1366px) {
    header .container {
      width: 89%; } }
  @media (max-width: 1290px) {
    header .container {
      width: 96%; } }
  @media (max-width: 1200px) {
    header .container {
      width: 95%; } }
  header .header_pr_1_0_0 {
    display: flex;
    justify-content: space-between; }
    header .header_pr_1_0_0-bg {
      background: rgba(0, 0, 0, 0.8);
      width: 100%;
      height: 100%;
      content: "";
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
      animation: opacity 0.4s; }
      header .header_pr_1_0_0-bg.active {
        display: block; }
    header .header_pr_1_0_0__section {
      display: flex;
      align-items: center; }
    header .header_pr_1_0_0__item {
      color: #0157a4;
      margin-left: 5px;
      padding: 35px 12px;
      font-size: 15px;
      text-transform: uppercase;
      cursor: pointer;
      font-weight: 600; }
      header .header_pr_1_0_0__item-logo__sb {
        display: none; }
        header .header_pr_1_0_0__item-logo__sb img {
          max-width: 90%;
          margin: 20px 0 0; }
    header .header_pr_1_0_0__Main {
      display: flex;
      align-items: center; }
      header .header_pr_1_0_0__Main.active {
        display: block;
        animation: animateleft 0.4s; }
      header .header_pr_1_0_0__Main .menu {
        display: flex;
        list-style: none;
        padding: 0; }
        header .header_pr_1_0_0__Main .menuSub:hover .menuSubBox {
          display: block;
          animation: opac 0.4s; }
        header .header_pr_1_0_0__Main .menuSub:hover > a {
          color: #e3a261; }
        header .header_pr_1_0_0__Main .menuSubBox {
          display: none;
          position: absolute;
          width: 80%;
          right: 16px;
          top: 95px;
          background: #2f3d6b;
          padding: 30px 40px;
          color: #fff; }
          header .header_pr_1_0_0__Main .menuSubBox ul {
            list-style: none;
            padding: 0; }
            header .header_pr_1_0_0__Main .menuSubBox ul li {
              border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
              padding: 10px 0;
              font-size: 13px; }
              header .header_pr_1_0_0__Main .menuSubBox ul li:last-child {
                border-bottom: none; }
          header .header_pr_1_0_0__Main .menuSubBox a {
            color: #fff;
            transition: 0.1s; }
            header .header_pr_1_0_0__Main .menuSubBox a:hover {
              color: rgba(255, 255, 255, 0.7); }
        header .header_pr_1_0_0__Main .menuSubTitle {
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 600;
          position: relative;
          padding-bottom: 15px;
          margin-bottom: 10px; }
          header .header_pr_1_0_0__Main .menuSubTitle:after, header .header_pr_1_0_0__Main .menuSubTitle::before {
            content: "";
            display: block;
            position: absolute; }
          header .header_pr_1_0_0__Main .menuSubTitle:before {
            width: 80px;
            height: 3px;
            background: #fff;
            left: 0;
            bottom: -1px; }
          header .header_pr_1_0_0__Main .menuSubTitle:after {
            width: 100px;
            width: 100%;
            height: 1px;
            background: rgba(255, 255, 255, 0.2);
            left: 0;
            bottom: 0; }
    header .header_pr_1_0_0__Logo {
      height: 90px;
      display: flex;
      align-items: center; }
      header .header_pr_1_0_0__Logo img {
        height: 65px; }
    header .header_pr_1_0_0__Nav, header .header_pr_1_0_0__Call {
      position: absolute;
      top: 20px;
      display: none; }
    header .header_pr_1_0_0phonee {
      font-size: 20px;
      width: 40px;
      height: 40px;
      right: -15px;
      line-height: 16px;
      border-radius: 4px;
      color: #1564ab;
      border: 2px solid #1564ab;
      border-radius: 100%;
      position: absolute;
      top: 20px;
      display: none; }
    header .header_pr_1_0_0__Nav {
      cursor: pointer;
      font-size: 30px;
      width: 40px;
      height: 40px;
      left: 5px;
      color: #1564ab;
      padding-right: 35px; }
    header .header_pr_1_0_0__Call {
      font-size: 20px;
      width: 30px;
      height: 30px;
      right: 0;
      top: 16px;
      line-height: 16px;
      border-radius: 4px;
      color: #fff; }
    header .header_pr_1_0_0 .icon-phone-1 img {
      cursor: pointer;
      width: 40px;
      height: 40px; }
    header .header_pr_1_0_0__Regist, header .header_pr_1_0_0Phonee {
      border-radius: 25px;
      color: #fff;
      padding: 9px 15px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase; }
    header .header_pr_1_0_0__Phone svg {
      width: 20px;
      height: 20px;
      fill: #fff;
      margin-bottom: -5px; }
    header .header_pr_1_0_0__Regist {
      background: #ef5655;
      margin-left: 10px;
      cursor: pointer; }
    header .header_pr_1_0_0__Phone {
      cursor: pointer;
      background: #0157a4;
      margin-left: 20px;
      border-radius: 25px;
      color: #fff;
      padding: 9px 15px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase; }
    header .header_pr_1_0_0__Logo img {
      transition: 0.3s; }
    header .header_pr_1_0_0__Main .menuSubBox {
      top: 65px; }
    @media (max-width: 1180px) {
      header .header_pr_1_0_0__section {
        display: block;
        width: 100%; }
      header .header_pr_1_0_0__item {
        color: #fff;
        padding: 9px 12px;
        display: block;
        border-top: 1px dotted rgba(255, 255, 255, 0.2); }
        header .header_pr_1_0_0__item-menuHome {
          display: none; }
        header .header_pr_1_0_0__item-logo__sb {
          display: block;
          text-align: center; }
      header .header_pr_1_0_0__Main {
        display: none;
        width: 80%;
        max-width: 414px;
        background: #004689;
        position: fixed;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 3;
        overflow: auto;
        padding-bottom: 20px; }
        header .header_pr_1_0_0__Main .menu {
          display: block; }
          header .header_pr_1_0_0__Main .menuSub:hover .menuSubBox {
            display: none; }
          header .header_pr_1_0_0__Main .menuSubBox {
            position: inherit;
            width: 100%;
            padding: 10px 15px; }
          header .header_pr_1_0_0__Main .menuSubTitle {
            margin-top: 10px; }
      header .header_pr_1_0_0__Logo {
        text-align: center;
        width: 140px;
        margin: 0 auto;
        position: relative;
        display: block; }
        header .header_pr_1_0_0__Logo img {
          position: absolute;
          top: 10px;
          left: 0;
          height: auto;
          max-width: 100%; }
      header .header_pr_1_0_0__Nav, header .header_pr_1_0_0__Call {
        display: flex; }
      header .header_pr_1_0_0phonee {
        display: flex; }
        header .header_pr_1_0_0phonee svg {
          width: 16px;
          height: 20px;
          fill: #1564ab; }
      header .header_pr_1_0_0__Call {
        top: 26px; }
      header .header_pr_1_0_0__Regist, header .header_pr_1_0_0Phonee {
        margin: 0 5px;
        display: block;
        text-align: center;
        border-radius: 6px; }
      header .header_pr_1_0_0__Regist {
        margin-left: 5px;
        margin-top: 6px; }
      header .header_pr_1_0_0__Phone {
        margin: 0 5px;
        display: block;
        text-align: center;
        border-radius: 6px;
        margin-left: 5px; } }
    @media (max-width: 820px) {
      header .header_pr_1_0_0__item {
        padding: 9px 12px; }
      header .header_pr_1_0_0phonee {
        right: 10px; }
      header .header_pr_1_0_0__Nav {
        left: 20px; }
      header .header_pr_1_0_0__Call {
        right: 10px; } }
    @media (max-width: 540px) {
      header .header_pr_1_0_0__Logo {
        width: 125px;
        height: 80px; }
        header .header_pr_1_0_0__Logo img {
          top: 15px; }
      header .header_pr_1_0_0phonee {
        right: 15px;
        font-size: 18px;
        width: 30px;
        height: 30px;
        top: 25px; }
      header .header_pr_1_0_0__Nav {
        left: 30px; }
      header .header_pr_1_0_0__Call {
        right: 15px;
        width: 30px;
        height: 30px; }
      header .header_pr_1_0_0 .icon-phone-1 img {
        width: 30px;
        height: 30px; } }

.pop_regpr_1_0_0__box .modal-header {
  padding: 0;
  border-bottom: unset; }
.pop_regpr_1_0_0__box .modal-title {
  text-align: center;
  padding-top: 20px; }
  .pop_regpr_1_0_0__box .modal-title img {
    margin-left: 30px; }
.pop_regpr_1_0_0__box .modal-box {
  max-width: 350px;
  min-width: 300px; }
  @media (max-width: 280px) {
    .pop_regpr_1_0_0__box .modal-box {
      min-width: 250px; } }
.pop_regpr_1_0_0__box .modal-close {
  font-size: 23px;
  line-height: 0.9;
  margin-right: 9px;
  margin-top: 5px; }
.pop_regpr_1_0_0__des {
  background: #286c9d;
  padding: 13px 15px 12px 15px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff; }
  .pop_regpr_1_0_0__des p {
    margin: 0; }
.pop_regpr_1_0_0 input {
  width: 100%;
  margin-bottom: 10px;
  font-size: 13px;
  background: #ddd;
  border: none;
  padding: 7px 12px; }
.pop_regpr_1_0_0 textarea {
  width: 100%;
  font-family: arial;
  font-size: 13px;
  margin-bottom: 4px;
  resize: none;
  height: 96px;
  background: #ddd;
  border: none;
  padding: 7px 12px; }
.pop_regpr_1_0_0__clicknow input {
  width: 100%;
  background: #dd4a39;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 5px; }
.pop_regpr_1_0_0__contact {
  text-align: center;
  color: #696969;
  font-size: 13px; }
  .pop_regpr_1_0_0__contact p {
    margin: 0px;
    padding: 0px; }
  .pop_regpr_1_0_0__contact a {
    color: #cc431d;
    text-decoration: none;
    font-weight: bold; }

.pop_callpr_1_0_0__box .modal-header {
  padding: 0;
  border-bottom: unset; }
  .pop_callpr_1_0_0__box .modal-header .pop_callpr_1_0_0__des1 {
    padding: 5px 0 10px;
    color: #666;
    font-weight: 700;
    font-size: 14px; }
    @media (max-width: 280px) {
      .pop_callpr_1_0_0__box .modal-header .pop_callpr_1_0_0__des1 {
        font-size: 13px; } }
    .pop_callpr_1_0_0__box .modal-header .pop_callpr_1_0_0__des1 p {
      margin: 0; }
    @media (min-width: 1280px) {
      .pop_callpr_1_0_0__box .modal-header .pop_callpr_1_0_0__des1 {
        display: none; } }
.pop_callpr_1_0_0__box .modal-title {
  text-align: center;
  padding-top: 20px; }
  .pop_callpr_1_0_0__box .modal-title img {
    margin-left: 30px; }
.pop_callpr_1_0_0__box .modal-box {
  max-width: 350px;
  min-width: 300px; }
  @media (max-width: 280px) {
    .pop_callpr_1_0_0__box .modal-box {
      min-width: 250px; } }
.pop_callpr_1_0_0__box .modal-close {
  font-size: 23px;
  line-height: 0.9;
  margin-right: 9px;
  margin-top: 5px; }
.pop_callpr_1_0_0__box .modal-body {
  padding: 0px 20px; }
@media (min-width: 1280px) {
  .pop_callpr_1_0_0__box .pop_callpr_1_0_0__contact {
    display: none; } }
.pop_callpr_1_0_0__des {
  padding: 5px 0 10px;
  color: #666;
  font-weight: 700;
  font-size: 14px; }
  @media (max-width: 280px) {
    .pop_callpr_1_0_0__des {
      font-size: 13px; } }
  .pop_callpr_1_0_0__des p {
    margin: 0; }
.pop_callpr_1_0_0 input {
  width: 100%;
  margin-bottom: 4px;
  font-size: 14px;
  padding: 12px 0;
  text-align: center;
  color: #333;
  border-radius: 5px; }
.pop_callpr_1_0_0__click input {
  width: 100%;
  background: #3491cc;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 12px 0;
  font-weight: 600; }
.pop_callpr_1_0_0__contact {
  padding: 10px 0 0px;
  color: #777;
  font-weight: 600;
  text-align: center; }
  .pop_callpr_1_0_0__contact .icon__call {
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle; }
  .pop_callpr_1_0_0__contact a {
    background: #ea3b41;
    color: #fff;
    text-transform: uppercase;
    display: block;
    padding: 12px 0;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 auto; }

/*# sourceMappingURL=main.css.map */
