$main:#00619b;
$color1:#004689;

a {
    text-decoration: none;
}

.header_16_0_0 {
    &_box1 {
        display: flex;
        align-items: center;

        &-logo {
            display: none;
        }

        &-Control {
            display: none;
        }

        &-Control,
        &-Nav {
            width: 85px;
        }

        &-sp,
        &-dv {
            width: 24%;
        }

        &-ht {
            width: 60%;
            text-align: center;
            color: #fff;
        }

        &-dv {
            display: flex;
        }

        &-Nav {
            display: none;
        }

        &-call {
            padding-top: 5px;

            img {
                vertical-align: bottom;
                width: 100%;
            }
        }

        &-search {
            background-color: #0f7762;
            margin-top: 5px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            width: 35px;
            justify-content: center;
        }

        &-searchMB {
            background: #067970;
            color: #fff;
            display: inline-block;
            border-radius: 100%;
            font-size: 13px;
            padding: 8px 10px;
            display: none;

        }

        &-mapMB {
            display: none;

            #Layer_1 {
                fill: #fff;
                width: 14px;
                height: 14px;
            }

            a {
                background: #067970;
                color: #fff;
                display: block;
                padding: 5px 8px;
                font-size: 16px;
                border-radius: 5px;
            }

        }

        &-Nav {
            color: #1D8371;
            font-size: 35px;


        }
    }

    &_boxTop {
        border-top: 5px solid #0f7762;
        background: url(../images/boxtop-bg.png) center bottom no-repeat;

    }

    &_box2 {
        display: flex;
        align-items: center;


        &.show {
            display: block;
        }

        &-logo {
            width: 25%;

            img {
                width: 80%;
            }
        }

        &__menu {
            width: 75%;
            display: inherit;
            a {
                font-size: 14px;
                padding: 35px 26px 30px;
                margin: 0;
                text-align: center;
                text-transform: uppercase;
                font-weight: 600;
            }

            &-hover {


                a {
                    position: relative;
                }

                .arr::before {
                    position: absolute;
                    bottom: 29px;
                    right: -4px;
                    text-align: center;
                    color: #f16749;
                    content: '⌵';

                }

                &:hover {
                    .header_16_0_0_box2__menu-content {
                      opacity: 1;
                      top:35px;
                    }

                    >a {
                        color: #e3a261;
                    }
                }
            }

            &-content {
                padding: 10px 0 10px 0;
               opacity: 0;
                background: #e8e8e8;
                position: absolute;
                width: 194px;
                left: 12px;
                top: 70px;
                border-radius: 8px;
                z-index: 1;
                transition: 0.5s;

                ul {
                    list-style: none;
                    padding: 0;

                    li {
                        border-bottom: 1px solid #cac9c9;
                        ;
                        margin: 0;
                        padding: 5px 0;
                        font-size: 13px;
                        position: relative;

                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }

                a {
                    color: #000;
                    transition: 0.1s;
                    padding: 0;
                    text-transform: none;
                    font-weight: 400;

                    &:hover {
                        color: #e3a261;
                    }
                }

                h4 {
                    color: #fff;
                    font-size: 15px;
                    padding: 5px 0;
                    text-transform: uppercase;
                    border-bottom: 1px dotted #d5b67c;
                    position: relative;
                    margin-bottom: 10px;
                    margin-top: -32px;
                }

                p {
                    margin-top: 10px;
                }

                .row {
                    padding: 15px 25px;
                }
            }
        }

        ul {
            padding: 0 15px;

            li {
                list-style: none;
                position: relative;
            }
        }

        &__address {


            select {
                padding: 5px 0;
                margin-bottom: 0;
            }
        }

        &-tv {
            display: none;

            a {
                background: #067670;
                color: #fff;
                padding: 10px 20px;
                text-transform: uppercase;
                font-weight: 500;
            }
        }
    }

    &_box3 {
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        content: '';
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        animation: opac 0.4s;

        &.act {
            display: block;
        }
    }

    @media(max-width: 1024px) {
        &_box1 {
            margin-top: 10px;
            justify-content: space-between;

            &-logo {
                display: block;
                width: 100%;
                text-align: center;

                img {
                    max-width: 100%;
                    width: 220px;
                }
            }

            &-Control {
                display: flex;

            }

            &-sp,
            &-dv {
                display: none;
            }

            &-ht {
                display: none;

            }

            &-dv {
                display: none;

            }

            &-Nav {
                display: block;

            }

            &-searchMB {
                display: block;

            }

            &-mapMB {
                display: block;
                margin-left: 10px;
            }
        }

        &_boxTop {
            border-top: none;
            background: #fff;
        }

        &_box2 {
            display: none;
            width: 270px;
            background: #fff;
            position: fixed;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 3;
            overflow: auto;
            padding-bottom: 20px;
            padding-top: 20px;

            &-logo {
                width: 100%;
                padding: 0 30px;
            }

            &__menu {
                width: 100%;

                a {
                    padding: 0 15px;
                }

                &-hover {
                    padding: 10px 0 10px;
                    position: relative;
                    border-top: 1px solid rgba(0, 0, 0, 0.1);
              

                    .arr::before {
                        display: none !important;
                    }
                }

                &-content {
                    position: initial;
                    width: 100%;
                    border-radius: 0;
                    top: auto;
                    right: auto;
                    margin-top: 10px;
                    padding-top: 0;
                    background: none;
                   display: none;
                   opacity: 1;
                    ul {
                        padding: 0px;
                        margin: -2px;

                        li {
                            border-bottom: none;
                            padding: 1px 0;
                        }
                    }

                    a {
                        display: block;
                        background: #eaeaea;
                        padding: 10px;
                        text-align: left;
                    }

                    h4 {
                        margin-top: 0;
                        margin-bottom: 0;
                        margin-left: 12px;
                        border-bottom: transparent;
                        color: #e5c992;
                    }
                }

                .menu-icon {
                    display: block;
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    color: #666;
                    padding: 10px;
                    text-align: right;
                    width: 100%;
                    height: 100%;
                }

                .icon-plus {
                    &::before {
                        content: '+';
                        position: absolute;
                        right: 10px;
                        font-weight: bold;
                    }

                    &.active {
                        &::before {
                            content: '-';
                        }
                    }
                }
            }

            &__address {
                display: none;
            }

            .row {
                &>div {
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            &-tv {
                display: block;
                text-align: center;
                margin-top: 30px;

            }
        }
    }

    @media(max-width: 360px) {
        &_box1 {

            &-logo {

                img {
                    width: 170px;

                }
            }
        }
    }

    @media(max-width: 414px) {

        &_box1 {

            &-logo {

                img {
                    width: 200px;

                }
            }

            &-Nav {
                font-size: 30px;
            }
        }

        &_box2 {
            &-logo {
                padding: 0 20px;
            }

            &__menu {

                &-content {
                    background: none;
                }
            }
        }
    }
}