.basis_3_1_0{
    width: 60%;
    display: flex;
    margin: 0 auto;
    &__temp{
        margin: 0 auto;
        color: white;
        text-align: center;
    }

    .temp1{
        &__t1{
            img{
                margin-bottom: 10px;
            }
            h3{
                margin-top: -40px;
            }
        }
        &__t2{
            img{
                margin-bottom: 10px;
            }
            h3{
                margin-top: -60px;
            }
        }
        &__t3{
            img{
                margin-bottom: 10px;
            }
            h3{
                margin-top: -40px;
            }
        }
        
    }
    .temp2{
        margin: 0 10px;
    }
    .temp3{
        img{
            margin-bottom: 10px;
        }
        h3{
            margin-top: -60px;
        }
    }
}
