.basis_3_1_0{
    width: 80%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    &__temp{
        margin: 0 auto;
        color: white;
        text-align: center;
    }
    @media (max-width: 1441px) {
        .temp2{
            img{ 
                display: none;
            }
        }
    }
    .temp1{
        &__t1{
            img{
                margin-bottom: 10px;
            }
            h3{
                margin-top: -40px;
            }
        }
        &__t2{
            img{
                margin-bottom: 10px;
            }
            h3{
                margin-top: -60px;
            }
        }
        &__t3{
            img{
                margin-bottom: 10px;
            }
            h3{
                margin-top: -40px;
            }
        }
        
    }
    .temp2{
        margin: 0 10px;
    }
    .temp3{
        img{
            margin-bottom: 10px;
        }
        h3{
            margin-top: -60px;
        }
    }
}
