.pop_regpr_1_0_0 .modal-header {
  padding: 0;
  border-bottom: unset; }
.pop_regpr_1_0_0 .modal-title {
  text-align: center; }
  .pop_regpr_1_0_0 .modal-title img {
    clear: both;
    display: block;
    margin: 0 auto 15px; }
.pop_regpr_1_0_0 .modal-box {
  width: 350px; }
.pop_regpr_1_0_0 .modal-close {
  font-size: 23px;
  line-height: 0.9;
  margin-right: 6px; }
.pop_regpr_1_0_0__des {
  background: #286c9d;
  padding: 8px 20px;
  font-size: 17px;
  text-transform: uppercase;
  color: #fff; }
  .pop_regpr_1_0_0__des p {
    margin: 0; }
.pop_regpr_1_0_0 input {
  width: 100%;
  margin-bottom: 8px;
  background: #ddd;
  border: none;
  padding: 8px 20px; }
.pop_regpr_1_0_0 textarea {
  width: 100%;
  font-family: arial;
  margin-bottom: 4px;
  resize: none;
  height: 96px;
  background: #ddd;
  border: none;
  padding: 7px 12px; }
.pop_regpr_1_0_0__clicknow input {
  width: 100%;
  background: #dd4a39;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 5px; }
.pop_regpr_1_0_0__contact {
  text-align: center;
  color: #696969;
  font-size: 13px;
  line-height: 20px;
  padding-top: 5px; }
  .pop_regpr_1_0_0__contact p {
    margin: 0px;
    padding: 0px;
    font-style: italic; }
  .pop_regpr_1_0_0__contact a {
    color: #cc431d;
    text-decoration: none; }
@media (max-width: 360px) {
  .pop_regpr_1_0_0 .modal-box {
    max-width: 90%; } }
@media (max-width: 280px) {
  .pop_regpr_1_0_0 .modal-body {
    padding: 15px; }
  .pop_regpr_1_0_0 .modal-title img {
    width: 150px; }
  .pop_regpr_1_0_0__des {
    font-size: 14px; }
  .pop_regpr_1_0_0 input {
    padding: 5px 10px; }
  .pop_regpr_1_0_0 textarea {
    height: 65px; }
  .pop_regpr_1_0_0__contact {
    font-size: 12px; } }

.pop_callpr_1_0_0__box .modal-header {
  padding: 0;
  border-bottom: unset; }
  .pop_callpr_1_0_0__box .modal-header .pop_callpr_1_0_0__des1 {
    padding: 5px 0 5px;
    color: #666;
    font-weight: 700;
    font-style: italic; }
    .pop_callpr_1_0_0__box .modal-header .pop_callpr_1_0_0__des1 p {
      margin: 0; }
    @media (min-width: 1280px) {
      .pop_callpr_1_0_0__box .modal-header .pop_callpr_1_0_0__des1 {
        display: none; } }
.pop_callpr_1_0_0__box .modal-title {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px; }
  .pop_callpr_1_0_0__box .modal-title img {
    margin-left: 30px;
    margin-top: 15px; }
.pop_callpr_1_0_0__box .modal-box {
  width: 350px; }
  @media (max-width: 360px) {
    .pop_callpr_1_0_0__box .modal-box {
      max-width: 90%; } }
.pop_callpr_1_0_0__box .modal-close {
  font-size: 23px;
  line-height: 0.9;
  margin-right: 9px;
  margin-top: 5px; }
.pop_callpr_1_0_0__box .modal-body {
  padding: 0px 20px; }
@media (min-width: 1280px) {
  .pop_callpr_1_0_0__box .pop_callpr_1_0_0__contact {
    display: none; } }
.pop_callpr_1_0_0__des {
  padding: 5px 0 10px;
  color: #666;
  font-weight: 500;
  font-size: 15px; }
  .pop_callpr_1_0_0__des p {
    margin: 0; }
.pop_callpr_1_0_0 input {
  width: 100%;
  margin-bottom: 4px;
  padding: 12px 0;
  text-align: center;
  color: #333;
  border-radius: 5px; }
.pop_callpr_1_0_0__click input {
  width: 100%;
  background: #3491cc;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 12px 0;
  font-weight: 600; }
.pop_callpr_1_0_0__contact {
  padding: 0px;
  color: #777;
  font-weight: 600;
  font-style: italic;
  text-align: center; }
  .pop_callpr_1_0_0__contact .icon__call {
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle; }
  .pop_callpr_1_0_0__contact a {
    background: #ea3b41;
    color: #fff;
    display: block;
    padding: 18px 0;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 auto; }
@media (max-width: 320px) {
  .pop_callpr_1_0_0__des {
    font-size: 12px;
    line-height: 20px; }
  .pop_callpr_1_0_0__contact a {
    padding: 8px 0; }
  .pop_callpr_1_0_0 input {
    padding: 8px 0; }
  .pop_callpr_1_0_0__click input {
    margin-bottom: 15px; }
  .pop_callpr_1_0_0 .modal-title {
    padding: 0px; }
  .pop_callpr_1_0_0 .modal-body {
    padding: 0 15px; } }

/*# sourceMappingURL=app.css.map */
