.person_12_0_0 {
    &__container {
        position: relative;
    }
    &__person {
        display: block;
        width: 100%;
    }
    &__box {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        width: 100%;
        height: 100%;
        &-img {
            max-width: 80%;
        }
    }
    &__title {
        background-color: #0a4285;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(18%);
        height: 50%;
        border: 3px solid #ff5f11;
        &-img {
            max-width: 81%;
        }
    }
    @media (max-width:540px) {
        &__container {
            padding: 0;
            display: flex;
            flex-direction: column-reverse;
        }
        &__person {
            position: relative;
            padding: 0 20px;
            top: -50px;
        }
        &__box {
            width: 100%;
            position: unset;
            height: fit-content;
        }
        &__title {
            width: 100%;
            height: 100%;
            transform: unset;
            padding: 70px 20px;
        }
    }
    @media (max-width: 320px) {
        &__title {
            padding: 50px 20px;
        }
    }
}