//popup call
//popup đăng ký tư vấn
.pop_regpr_1_0_0 {
    .modal-header {
        padding: 0;
        border-bottom: unset;
    }
    .modal-title {
        text-align: center;
        img {
            clear: both;
            display: block;
            margin: 0 auto 15px;
        }
    }
    .modal-box {
        width: 350px;
    }
    .modal-close {
        font-size: 23px;
        line-height: 0.9;
        margin-right: 6px;
    }

    &__des {
        background: #286c9d;
        padding: 8px 20px;
        font-size: 17px;
        text-transform: uppercase;
        color: #fff;
        p {
            margin: 0;
        }
    }
    input {
        width: 100%;
        margin-bottom: 8px;

        background: #ddd;
        border: none;
        padding: 8px 20px;
    }
    textarea {
        width: 100%;
        font-family: arial;

        margin-bottom: 4px;
        resize: none;
        height: 96px;
        background: #ddd;
        border: none;
        padding: 7px 12px;
    }
    &__clicknow {
        input {
            width: 100%;
            background: #dd4a39;
            color: #fff;
            border: none;
            cursor: pointer;

            margin-bottom: 5px;
        }
    }
    &__contact {
        text-align: center;
        color: #696969;
        font-size: 13px;
        line-height: 20px;
        padding-top: 5px;
        p {
            margin: 0px;
            padding: 0px;
            font-style: italic;
        }
        a {
            color: #cc431d;
            text-decoration: none;
        }
    }
    @media (max-width: 360px) {
        .modal-box {
            max-width: 90%;
        }
    }
    @media (max-width: 280px) {
        .modal-body {
            padding: 15px;
        }
        .modal-title {
            img {
                width: 150px;
            }
        }

        &__des {
            font-size: 14px;
        }
        input {
            padding: 5px 10px;
        }
        textarea {
            height: 65px;
        }
        &__contact {
            font-size: 12px;
        }
    }
}
//popup đăng ký tư vấn

//popup call
.pop_callpr_1_0_0 {
    &__box {
        .modal-header {
            padding: 0;
            border-bottom: unset;
            .pop_callpr_1_0_0__des1 {
                padding: 5px 0 5px;
                color: #666;
                font-weight: 700;
                font-style: italic;
                p {
                    margin: 0;
                }
                @media (min-width: 1280px) {
                    display: none;
                }
            }
        }
        .modal-title {
            text-align: center;
            padding-top: 10px;
            padding-bottom: 5px;
            img {
                margin-left: 30px;
                margin-top: 15px;
            }
        }
        .modal-box {
            width: 350px;
            @media (max-width: 360px) {
                max-width: 90%;
            }
        }
        .modal-close {
            font-size: 23px;
            line-height: 0.9;
            margin-right: 9px;
            margin-top: 5px;
        }
        .modal-body {
            padding: 0px 20px;
        }
        .pop_callpr_1_0_0__contact {
            @media (min-width: 1280px) {
                display: none;
            }
        }
    }
    &__des {
        padding: 5px 0 10px;
        color: #666;
        font-weight: 500;
        font-size: 15px;
        p {
            margin: 0;
        }
    }
    input {
        width: 100%;
        margin-bottom: 4px;

        padding: 12px 0;
        text-align: center;
        color: #333;
        border-radius: 5px;
    }
    &__click {
        input {
            width: 100%;
            background: #3491cc;
            color: #fff;
            border: none;
            cursor: pointer;

            margin-top: 5px;
            margin-bottom: 20px;
            border-radius: 4px;
            padding: 12px 0;
            font-weight: 600;
        }
    }
    &__contact {
        padding: 0px;
        color: #777;
        font-weight: 600;
        font-style: italic;
        text-align: center;
        .icon {
            &__call {
                width: 22px;
                height: 22px;
                display: inline-block;
                vertical-align: middle;
            }
        }
        a {
            background: #ea3b41;
            color: #fff;
            display: block;
            padding: 18px 0;
            border-radius: 4px;
            text-transform: uppercase;
            text-decoration: none;
            margin: 0 auto;
        }
    }
    @media (max-width: 320px) {
        &__des {
            font-size: 12px;
            line-height: 20px;
        }
        &__contact {
            a {
                padding: 8px 0;
            }
        }
        input{
            padding: 8px 0;
            
        }
        &__click{
            input{
                margin-bottom: 15px;
            }
        }
        .modal-title {
            padding: 0px;
        }
        .modal-body{
            padding: 0 15px;
        }
    }
}
