.service_3_0_0 {
    font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    &__box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    &__title{
        color: #0328ff;
        padding: 20px 0;
        font-size: 18px;
    }
    &_item{
        text-align: center;
        padding: 10px;
        width: 33.3%;
        img{
            max-width: 100%;
        }
    }
    &_content{
        border-bottom: 2px solid#0328ff;
        padding-bottom: 10px;
        color: #000;
        
    }
    @media(max-width: 480px){
        &_item{
            width: 50%;
        }
    }
    @media(max-width: 320px){
        &_content{
            font-size: 13px;
        }
    }
}