.popup_banner {
    #modal-img {
        display: block;
    }
    .modal-box {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
    .modal-pic {
        img {
            display: block;
            width: 100%;
        }
    }
    @media(max-width: 912px) {
        .modal-box {
            width: 70%;
        }
    }
    @media(max-width: 428px) {
        .modal-box {
            width: 90%;
        }
    }
}