.footer_3_0_0__info-Contact h3 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }

@font-face {
  font-family: 'GMVDino';
  src: url(../font/GMV_DIN_Pro.ttf); }
.footer_3_0_0__info-Contact h3 {
  font-family: GMVDino; }

.mb {
  display: none; }
  @media (max-width: 414px) {
    .mb {
      display: block; } }

.scrolltop {
  position: fixed;
  right: 20px;
  bottom: -4px;
  width: 305px;
  transition: ease-in-out 0.1s;
  color: #fff;
  display: flex;
  line-height: 35px;
  text-transform: uppercase;
  font-style: normal;
  opacity: 0.7;
  z-index: 15; }
  @media (max-width: 414px) {
    .scrolltop {
      bottom: 140px;
      right: 5px;
      border-radius: 4px;
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      background: rgba(0, 0, 0, 0.2); } }
  .scrolltop img {
    width: 25px;
    height: 25px;
    margin: 5px auto;
    margin-right: 10px; }
    @media (max-width: 414px) {
      .scrolltop img {
        margin-right: 0; } }
  .scrolltop:hover {
    opacity: 1; }
  @media (max-width: 414px) {
    .scrolltop span {
      display: none; } }

.regft {
  display: none; }
  @media (max-width: 414px) {
    .regft {
      display: flex;
      display: -webkit-flex;
      width: 100%;
      height: 60px;
      position: fixed;
      background: rgba(0, 0, 0, 0.5);
      left: 0;
      bottom: 0;
      z-index: 2; }
      .regft a {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin: 10px 0 10px 10px;
        height: 40px;
        line-height: 40px;
        color: #fff;
        text-align: left;
        border-radius: 4px;
        font-size: 15px;
        font-weight: normal;
        text-transform: uppercase;
        padding-left: 20px; }
        .regft a:hover, .regft a:focus {
          text-decoration: none; }
        .regft a:nth-child(1) {
          background: #004689;
          box-shadow: 0px 3px 0px 0px #10384a; }
        .regft a:nth-child(2) {
          background: #e23d3a;
          margin-right: 10px;
          box-shadow: 0px 2px 0px 0px #8f2725; } }
      @media (max-width: 414px) and (max-width: 375px) {
        .regft a:nth-child(2) {
          font-size: 13px;
          text-align: center;
          padding-left: 0; }
          .regft a:nth-child(2) i {
            display: none; } }

.refuse {
  position: fixed;
  bottom: 0;
  background: #0329FF;
  color: #fff;
  font-style: italic;
  text-align: center;
  width: 100%;
  padding: 5px 10px;
  z-index: 5; }
  @media (max-width: 414px) {
    .refuse {
      position: inherit;
      text-align: center;
      padding: 10px 0;
      z-index: 0;
      margin-bottom: 25px;
      font-size: 13px; } }

.mb {
  display: none; }
  @media (max-width: 414px) {
    .mb {
      display: block; } }

.footer_3_0_0 {
  background: #063997;
  padding: 40px 0 45px; }
  .footer_3_0_0__box {
    display: flex;
    justify-content: space-around; }
  .footer_3_0_0 .mb {
    display: none; }
  .footer_3_0_0__info {
    display: flex; }
    .footer_3_0_0__info b {
      color: #fff; }
    .footer_3_0_0__info-Contact {
      color: #67C5EA;
      text-align: left;
      font-size: 18px; }
      .footer_3_0_0__info-Contact h3 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 22px; }
    .footer_3_0_0__info__ct {
      padding-right: 20px; }
    .footer_3_0_0__info-Social {
      text-align: right;
      padding: 15px 0;
      padding-right: 40px;
      display: flex; }
      @media (max-width: 1024px) {
        .footer_3_0_0__info-Social {
          width: 90%;
          padding: 15px 15px 15px 0; } }
      .footer_3_0_0__info-Social a {
        display: inline-block;
        height: 45px;
        margin: 0 5px;
        background-image: url(../images/footer-icon.png);
        background-repeat: no-repeat; }
      .footer_3_0_0__info-Social-zalo {
        background-position: -108px 9px;
        width: 60px; }
      .footer_3_0_0__info-Social-facebook {
        background-position: 5px 9px;
        width: 40px; }
      .footer_3_0_0__info-Social-youtube {
        background-position: -45px 10px;
        width: 50px; }
      .footer_3_0_0__info-Social-tiktok {
        background-position: -188px 11px;
        width: 50px; }
      .footer_3_0_0__info-Social .boxtop__call-2 {
        background-color: #FF706F;
        border-radius: 10px;
        color: #fff;
        text-align: center;
        line-height: 43px;
        font-size: 18px;
        font-weight: 600;
        width: 174px;
        height: 43px;
        top: 60px;
        right: -60px;
        display: flex; }
        .footer_3_0_0__info-Social .boxtop__call-2::before {
          content: "";
          background-image: url(../images/boxtop-call.png);
          background-repeat: no-repeat;
          width: 27px;
          height: 27px;
          display: block;
          position: relative;
          top: 7px;
          margin-left: 20px;
          margin-right: 10px; }
          @media (max-width: 1024px) {
            .footer_3_0_0__info-Social .boxtop__call-2::before {
              top: 0;
              margin: 6px 10px 0 15px; } }
        .footer_3_0_0__info-Social .boxtop__call-2:hover {
          color: #fff; }
        .footer_3_0_0__info-Social .boxtop__call-2.active {
          color: #fff;
          text-decoration: none; }
    .footer_3_0_0__info-Certify {
      display: flex;
      align-items: center;
      padding-top: 38px; }
      .footer_3_0_0__info-Certify a {
        padding-right: 30px; }
  .footer_3_0_0__sub {
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    padding-top: 30px; }
    .footer_3_0_0__sub a {
      color: #0290D9;
      text-decoration: underline;
      cursor: pointer; }

@media (max-width: 1024px) {
  .footer_3_0_0 {
    padding: 20px 0 45px; }
    .footer_3_0_0__info-Contact {
      font-size: 16px; }
    .footer_3_0_0__info-Social-youtube {
      width: 45px;
      background-position: -56px 10px; }
    .footer_3_0_0__info-Social-zalo {
      background-position: -114px 9px; }
    .footer_3_0_0__info-Social-facebook {
      width: 45px; }
    .footer_3_0_0__info-Social-tiktok {
      background-position: -191px 11px; }
    .footer_3_0_0__info-Certify {
      padding-top: 28px; }
      .footer_3_0_0__info-Certify img {
        width: 90%; }
    .footer_3_0_0__ct {
      padding-right: 0px; }
    .footer_3_0_0__sub {
      font-size: 16px;
      line-height: 26px; }
    .footer_3_0_0__logo img {
      width: 70%; } }
@media (max-width: 812px) {
  .footer_3_0_0__box {
    display: block; }
  .footer_3_0_0__info {
    padding-top: 30px;
    justify-content: center; }
  .footer_3_0_0__logo {
    width: 20%;
    margin: 0 auto;
    padding-top: 0px; }
    .footer_3_0_0__logo img {
      width: 100%; }
    .footer_3_0_0__logo-Social {
      width: 100%;
      text-align: left;
      margin-top: 0px; }
  .footer_3_0_0__sub {
    font-size: 14px; } }
@media (max-width: 414px) {
  .footer_3_0_0 {
    padding: 0px 0 70px; }
    .footer_3_0_0__box {
      padding-left: 5px; }
    .footer_3_0_0__logo {
      width: 50%; }
    .footer_3_0_0__info {
      display: block; }
      .footer_3_0_0__info .contact {
        font-size: 18px;
        color: #fff; }
      .footer_3_0_0__info__pic {
        display: none; }
      .footer_3_0_0__info__ct {
        display: flex;
        padding-right: 0; }
      .footer_3_0_0__info-Social a {
        display: inline-block;
        height: 45px;
        margin: 0 5px;
        background-image: url(../images/ft-icon-mb.png);
        background-repeat: no-repeat; }
      .footer_3_0_0__info__protect {
        padding-top: 0; }
      .footer_3_0_0__info-Contact {
        width: 56%;
        font-size: 14px; }
      .footer_3_0_0__info-picFB img {
        max-width: 100%; }
      .footer_3_0_0__info .pc {
        display: none; }
      .footer_3_0_0__info .mb {
        display: flex; }
      .footer_3_0_0__info-Certify {
        display: flex;
        align-items: center;
        padding-top: 38px;
        margin-top: -140px;
        margin-bottom: 30px;
        margin-right: -250px;
        flex-direction: column; }
      .footer_3_0_0__info-Social {
        width: 40%;
        padding: 0;
        justify-content: flex-end; }
        .footer_3_0_0__info-Social a {
          margin: 0 0; }
        .footer_3_0_0__info-Social-zalo {
          background-position: -64px 9px;
          width: 30px; }
        .footer_3_0_0__info-Social-facebook {
          background-position: 5px 9px;
          width: 30px; }
        .footer_3_0_0__info-Social-youtube {
          background-position: -29px 10px;
          width: 30px; }
        .footer_3_0_0__info-Social-tiktok {
          background-position: -101px 11px;
          width: 40px; }
    .footer_3_0_0__sub {
      font-size: 13px;
      padding-top: 20px; } }
@media (max-width: 375px) {
  .footer_3_0_0__info-Contact h3 {
    font-size: 14px;
    margin-top: 10px; }
  .footer_3_0_0__info-Certify {
    margin-right: -250px;
    margin-bottom: 40px; }
    .footer_3_0_0__info-Certify img {
      width: 80%; }
  .footer_3_0_0__info-Social {
    width: 45%; }
  .footer_3_0_0__info__sub {
    font-size: 12px; } }
@media (max-width: 360px) {
  .footer_3_0_0__info-Certify {
    margin-right: -240px; }
  .footer_3_0_0__sub {
    font-size: 12px; } }
@media (max-width: 320px) {
  .footer_3_0_0__info .contact {
    font-size: 16px; }
  .footer_3_0_0__info-Contact {
    font-size: 12px; }
  .footer_3_0_0__info-Social .boxtop__call-2 {
    font-size: 13px; }
  .footer_3_0_0__info-Social-tiktok {
    background-position: -101px 11px;
    width: 30px; }
  .footer_3_0_0__info-Social-facebook {
    background-position: 0px 9px; }
  .footer_3_0_0__info-Social-youtube {
    background-position: -31px 10px; }
  .footer_3_0_0__info-Social-zalo {
    background-position: -61px 9px;
    width: 35px; }
  .footer_3_0_0__info-Certify {
    margin-top: -130px; }
    .footer_3_0_0__info-Certify img {
      width: 70%; }
  .footer_3_0_0__sub {
    font-size: 11px; } }

/*# sourceMappingURL=footer_3_0_0.css.map */
